
# - Ignore latex compilated files
Documentation/*.log
Documentation/*.aux
Documentation/*.toc

/wert_*/

# - Ignore local .conf files
*.conf

# - Ignore some folders
/raw/
/test/

# - Ignore python compiled files
PyModules/*.pyc
*.pyc

# - Ignore link to activate (virtual environment python)
activate
# - But ignore virtualenv
/venv/

# Ignore config.conf file. has to be linked (symbolic link)
# depending on the machine. This allows to set up a development
# environment without overwriting the config settings when
# push/pull the repository.
config.conf

# Logfiles from the autosubmit tool
autosubmit/*.log
